#top {
  @import url('https://fonts.googleapis.com/css?family=Ledger|Nixie+One');
  h1, h2, h3,
  h4, h5, h6 {
    font-family: 'Nixie One', cursive;
    color: color(base);
  }
  h1 {
    font-size: 40px;
  }
  h2 {

  }
  h3 {

  }
  h4 {

  }
  p {
    font-size: 18px;
    color: color(base);
  }
  a {

  }
  span {

  }

  p, a, ul, li, em, span {
    font-family: 'Ledger', serif;
  }
}